extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Udemy is a platform that allows instructors to build onlinne courses on their preffered topics .
        | <br /><br />
        | Using Udemy's course development tools,instructors can upload videos,source code for developers,poerpoint presentations,zip files and any other content that learners might find helpful.
        | <br /><br />
        | It's a good for people looking for career change.
        | <br /><br />
        | It is useful for students looking to compliment their studies..
